<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">

      <div class="form-row">

        <!--Compo TEMA-->
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control" [ngClass]="{' is-invalid' : f.tema.errors && f.tema.touched }" formControlName="tema" placeholder="Insira o Tema">
          <div *ngIf="f.tema.errors?.required && f.tema.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
          <!-- OBS: foram encurtados os validadores de "form.get('tema').error" para a funcao criada "f()":-->
          <div *ngIf="f.tema.errors?.minlength && f.tema.touched" class="invalid-feadback">
            Campo deve conter no mínimo 3 caracteres.
          </div>
          <div *ngIf="f.tema.errors?.maxlength && f.tema.touched" class="invalid-feadback">
            Campo deve conter no máximo 50 caracteres.
          </div>
        </div>

        <!--Compo LOCAL-->
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : f.local.errors && f.local.touched }" formControlName="local" placeholder="">
          <div *ngIf="f.local.errors?.required && f.local.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
        </div>

        <!--Compo LOCAL-->
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control" [ngClass]="{'is-invalid' : f.data.errors && f.data.touched }" formControlName="data" placeholder="">
          <div *ngIf="f.data.errors?.required && f.data.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
        </div>
      </div>

      <div class="form-row">

        <!--Compo QTD PESSOAS-->
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : f.qtdPessoas.errors && f.qtdPessoas.touched }" formControlName="qtdPessoas" placeholder="">
          <div *ngIf="f.qtdPessoas.errors?.required  && f.qtdPessoas.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
          <div *ngIf="f.qtdPessoas.errors?.max  && f.qtdPessoas.touched" class="invalid-feadback">
            A quantidade máxima por evento é 120.000 pessoas.
          </div>
        </div>

        <!--Compo TELEFONE-->
        <div class="form-group col-md-3">
          <label>Telefone</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : f.telefone.errors && f.telefone.touched }" formControlName="telefone" placeholder="(000) 90000-0000">
          <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
        </div>

        <!--Compo EMAIL-->
        <div class="form-group col-md-3">
          <label>e-mail</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : f.email.errors && f.email.touched }" formControlName="email" placeholder="e-mail">
          <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
          <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feadback">
            Digite um e-mail válido.
          </div>
        </div>

        <!--Compo IMAGEM-->
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid' : f.imagemURL.errors && f.imagemURL.touched }" formControlName="imagemURL" placeholder="imagem">
          <div *ngIf="f.imagemURL.errors?.required && f.imagemURL.touched" class="invalid-feadback">
            Campo obrigatório.
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex">

        <button class="btn btn-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>

        <button class="btn btn-success" [disabled]="!form.valid">
          <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
          Salvar Evento
        </button>

      </div>
    </div>
  </form>
</div>
